*{
  margin: 0;
  padding: 0;
}

a {
  color: rgb(9, 111, 228);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  height: 60px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-bottom: 3px solid rgb(9, 111, 228);
  height: 13vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}
