*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {
  color: RGB(30, 37, 81);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  height: 60px;
  float: left;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-bottom: 3px solid rgb(154, 155, 156);
  height: 13vh;
  box-shadow: 100px
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}

#nomeLogo {
  color: RGB(30, 37, 81);
  float: left;
  padding-top: 18px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 35px;
}

#nomeLogo1 {
  color: gray;
  font-size: 15px;
  height: 50px;
  padding-top: 30px;
  padding-left: 70px;

}




