

table {
 background-color: white;
 color: black;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 width: 90%;
 margin: 0 auto;
 margin-top: 80px;
 border-radius: 5px;
}

#btn_adc {
  margin-left: 85px;
  margin-top: 20px;
  background-color: white;
}

table td {
  padding-left: 60px
}

button {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.315);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
