* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



#div_video video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-filter:blur(20px);
      filter: blur(20px);
}

#div_video {
  background-color: rgb(9, 111, 228);
  height: 100vh;
  width: 100vw;


}


  .full-screen video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }

  #video {
      margin-top: 200px;
  }

  #video video {
      object-fit: cover;
  }

  #home {
    background-color: rgb(9, 111, 228);
  }

  video {
    position: fixed;
    z-index: -1;
    -o-filter:blur(1.5px);
    filter: blur(1.5px);
  }

  #jumbotron {
    float: left;
  }

  .container1 {
    width: 50%;
    height: 80%;
    line-height: 54px;
    font-weight: 500;
    transition: .4s linear;
    z-index: -1;
    margin-left: 30px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 120px;
    float: left;

}

  #textoHome1 {
    font-size: 100px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  #textoHome2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  #botaoHome {
    color: white;
    background-color: rgb(46, 56, 124);
    border-radius: 5px;
    border: white;
    width: 250px;
    margin-top: 20px;
  }

  #botaoHome:hover {
    opacity: 0.9;
  }

  #imagemHome {
    float: left;
    height: 30px;
    margin-left: 705px;
    margin-top: 80px;
    box-shadow: gray 3px;
  }

  #imagem {
    float: right;
    height: 400px;
  }










